// Variables
$cell-size: 90px;
$cell-gap: 10px;
$board-gap: 20px;
$primary-color: #3498db;
$secondary-color: #f0f0f0;
$border-color: #ddd;
$text-color: #333;
$hover-color: #e1f5fe;

#core{
  display: flex;
  justify-content: center;
  flex-direction: column;

  .userTable{
    display: flex;
    justify-content:center;
    width: 40%;
    margin-top: 1em;


    .restart {
      display: block;
      padding: 10px 20px;
      font-size: 1rem;
      color: #fff;
      background-color: $primary-color;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    
      &:hover {
        background-color: lighten($primary-color, 10%);
      }
      @media (max-width:480px){
        padding: 3px 6px;
      }
    }
    
    #turno{
      padding: 10px 20px;
      font-size: 1rem;
      border: none;
      border-radius: 5px;
      color: #fff;
      background-color: $primary-color;
      @media (max-width:480px){
        padding: 3px 6px;
      }
    }

    @media (max-width: 480px) {
      width: 100%;
      justify-content: space-evenly;
      margin-right: 0;
      margin-left: 0;
    }
  }
}

// Contenedor principal
#game {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: $board-gap;
  justify-content: center;
  margin-top: 20px;
  
}

// Estilos para cada tablero de TaTeTi
.ta-te-ti {
  display: grid;
  grid-template-columns: repeat(3, $cell-size);
  grid-template-rows: repeat(3, $cell-size);
  gap: $cell-gap;
  border: 2px solid $primary-color;
  border-radius: 8px;
  padding: 10px;
  background-color: $secondary-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; // Para manejar el pseudoelemento
  
  // Estilos para el marcador de ganador
  &.won-x::after, &.won-o::after, &.draw::after {
    content: ''; // Contenido vacío inicialmente, lo actualizaremos con JS
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15rem; // Tamaño grande para el símbolo de ganador
    color: rgba(0, 0, 0, 0.904); // Color semitransparente para superponer sobre las celdas
    pointer-events: none; // No permite interactuar con el símbolo de ganador
  }
  
  // Diferentes símbolos para X y O
  &.won-x::after {
    content: 'X'; // Para marcar una victoria de X
    color: rgba(163, 0, 0, 0.904);
  }
  
  &.won-o::after {
    content: 'O'; // Para marcar una victoria de O
    color: rgba(15, 184, 0, 0.904);
  }

  &.draw::after{
    content: '#';
  }

  .cell {
    width: $cell-size;
    height: $cell-size;
    background-color: $secondary-color;
    border: 1px solid $border-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: $text-color;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $hover-color;
    }

    &.occupied {
      cursor: not-allowed;
      color: darken($text-color, 10%);
    }
    @media (max-width: 480px) {
      width: 30px;
      height: 30px;
    }
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(3, 30px);
    gap: 10px;
  }
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

// Estilos para el estado del juego y botón de reinicio
.status {
  margin-top: 20px;
  font-size: 2rem;
  text-align: center;
  color: $text-color;

  @media (max-width: 480px) {
    font-size: 1em;
    margin-top: 10px;
  }
}




